body {
  color: white;
}

.container-fluid {
  padding: 0 !important;
}
.row {
  margin: 0 !important;
}
#top {
  background-image: url('topBgd2.png');
  background-position: center;
  background-size: cover;
  background-color: rgba(34, 36, 38, 0.5);
  background-blend-mode: overlay;
  height: 100vh;
}
header {
  position: sticky;
  color: white;
  transition: all 0.7s ease-in-out;
  height: 12vh;
}
header:hover {
  background-color: rgba(34, 36, 38, 0.85);
}
header h1 {
  font-family: 'Yellowtail', cursive;
  letter-spacing: 1.2px;
  margin: 0;
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}
header button {
  float: right;
  padding: 2rem 2rem 1.8rem;
  transition: all 0.7s ease-in-out;
}
header button:hover {
  cursor: pointer;
  color: rgb(78, 80, 82);
}
#top header .hamburger {
  outline: none;
  padding: 4vh 2rem;
}

#top .greet span#roles {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  color: white;
  border-bottom: 3px solid rgba(78, 80, 82, 0.8);
  padding-bottom: 0.5vh;
}
#top h2 {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 6rem;
}
#top .greet h2 br {
  height: 0.1vh;
}
#top .greet {
  margin-top: 15vh;
  margin-left: 3vw;
}

.menu {
  height: 88vh;
  padding-top: 15vh;
  background-color: rgba(34, 36, 38, 0.85);
  position: absolute;
  top: 12vh;
  width: 100%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.menu ul {
  list-style-type: none;
  padding-left: 0;
}
.menu li {
  padding-bottom: 5vh;
}
.menu ul a {
  color: #fff;
  transition: all 0.7s ease-in-out;
}
.menu ul a:hover {
  color: rgb(98, 100, 102);
  text-decoration: none;
}
